<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Sketchs Bot</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&family=Rubik:wght@400;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="content">
  <section class="left">
    <div>
      <a href="https://protected-fjord-89393.herokuapp.com/" class="previous-page">
        <i class="fas fa-arrow-left"></i>
      </a>
      <div class="left-title">SKETCHS BOT</div>
      <form method="post" action="{{ url_for('main.prediction') }}" id="prediction-form">
        <input type="hidden" id="canvasimg" name="canvasimg">
        <input type="hidden" id="canvasdata" name="canvasdata" value="{{ canvasdata }}">
        <canvas id="canvas"></canvas>
        <button onClick="submit_canvas()" type="submit" class="button pred-button">Predecir
        </button>
      </form>
      <script src="{{ url_for('static', filename='canvas.js') }}"></script>
    </div>
    <div class="row">
      <div class="tools">
        <button onclick="undo_last()" type="button" class="button undo-button">Deshacer</button>
        <button onClick="clear_canvas()" type="button" class="button clear-button">Limpiar</button>
      </div>
    </div>
  </section>
  <section class="right">
    <div class="description">
      Dibuja un objeto y el Bot lo adivinará.
    </div>
    <div class="image">
      <img src="{{ url_for('static', filename='hand_image.png') }}"/>
    </div>
    <div class="prediction">
      <div class="pred-title">Predicción:</div>
      <div class="toc">
        <div class="entry">
          <div class="predicted">1. <span class="fnt-roboto">{{ predictions[0] }}</span></div>
          <div class="proba fnt-roboto">{{ probas[0] }}</div>
        </div>
        <div class="entry">
          <div class="predicted">2. <span class="fnt-roboto">{{ predictions[1] }}</span></div>
          <div class="proba fnt-roboto">{{ probas[1] }}</div>
        </div>
        <div class="entry">
          <div class="predicted">3. <span class="fnt-roboto">{{ predictions[2] }}</span></div>
          <div class="proba fnt-roboto">{{ probas[2] }}</div>
        </div>
      </div>
    </div>
    <div class="source-code">
      <a href="https://github.com/CrisLeaf/sketches_bot" target="_blank">
        Código Fuente: <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
</div>
</body>
</html>